{{ ansible_managed | comment }}
PORT={{ ratelimiter_port }}
RATE_PER_SEC={{ ratelimiter_rate_per_sec }}
BURST={{ ratelimiter_burst }}
MAX_KEYS={{ ratelimiter_max_keys }}
CLEANUP_INTERVAL={{ ratelimiter_cleanup_interval }}
SHUTDOWN_TIMEOUT={{ ratelimiter_shutdown_timeout }}
LOG_LEVEL={{ ratelimiter_log_level }}
APP_VERSION={{ ratelimiter_app_version }}
